html, body {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
    font-family: srcl;
}

body {
	background-image: url("../images/background.png");	
}

#main {
    padding-top: 11.5vh;
    height: calc(100% - 11.5vh);
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}

#logo {
    width: 24vh;
}

h1 {
	margin: 3vh auto 0vh auto;
	font-size: 5vh;
	color: whitesmoke;
}

h2 {
	text-transform: uppercase;
	margin: 2vh auto 2vh auto;
	padding: 2vh;
	font-size: 4vh;
	color: whitesmoke;
	border-width: 1px 0px 1px 0px;
	border-color: whitesmoke;
	border-style: solid;
}

@font-face {
    font-family: srcl;
    src: url('../fonts/sourcelight.otf');
}

input {
	width: calc(100% - 2px - 1.5vh);
    height: 2.5vh;
    padding: 0.75vh;
    margin: 1vh auto 1vh auto;
    font-size: 1.85vh;
	color: whitesmoke;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	font-family: srcl;
}

hr {
    width: 41.3vh;
	margin: 1.5vh auto 1.5vh auto;
    padding: 0 0.75vh 0 0.75vh;
}

button {
    width: 43.003vh;
    height: 4.203vh;
	margin: 1vh auto 1vh auto;
    padding: 0;
	color: whitesmoke;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	font-family: srcl;
    font-size: 1.85vh;
}

#nav {
    display: block;
    height: 6.203vh;
	padding-top: 0;
	background-color: rgba(160, 160, 160, 0.2);
}

#dynamic p {
	font-size: 3vh;
    font-family: srcl;
	color: whitesmoke;
}

#data, th, td {
	border-width: 1px;
	border-style: solid;
	font-family: srcl;
	color: whitesmoke;
	float: center;
	margin: 2vh auto 1.5vh auto;
	padding: 0.5vh;
}

#data {
	border-radius: 5px;
}

th, td {
	padding: 1vh;
	margin: 1vh;
    font-size: 1.5vh;
}

/* portrait HD monitors */
@media (orientation: portrait) and (max-resolution: 150dpi) and (min-height: 1700px) {

    body {
        display: table;
    }

    #main {
        padding-top: 1vh;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    #logo {
        width: 15vh;
    }

    h1 {
        margin: 1.5vh auto 0vh auto;
        font-size: 2.9vh;
    }

    h2 {
        width: 23vh;
        margin: 1vh auto 1vh auto;
        padding: 1vh;
        font-size: 2vh;
    }

    input {
        width: 24vh;
        height: 1.5vh;
        padding: 0.25vh;
        margin: 1vh auto 1vh auto;
        font-size: 1.1vh;
    }

    hr {
        width: 23vh;
        margin: 1vh auto 1.25vh auto;
        padding: 0 0.75vh 0 0.75vh;
    }

    button {
        width: 24.8vh;
        height: 2.5vh;
        margin: 0.5vh auto 0.5vh auto;
        font-size: 1vh;
    }

    #nav {
        height: 3.203vh;
    }

    #dynamic p {
        font-size: 1.25vh;
    }

    #data, th, td {
        margin: 1.5vh auto 1.5vh auto;
        padding: 0.5vh;
    }

    th, td {
        padding: 0.5vh;
        margin: 1vh;
        font-size: 1vh;
    }

}

/* portrait Ultra wide monitors */
@media (orientation: portrait) and (max-resolution: 150dpi) and (min-height: 2000px) {

    body {
        display: table;
    }

    #main {
        padding-top: 1vh;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    #logo {
        width: 9vh;
    }

    h1 {
        margin: 1vh auto 0vh auto;
        font-size: 2vh;
    }

    h2 {
        width: 15vh;
        margin: 0.5vh auto 0.5vh auto;
        padding: 1vh;
        font-size: 1.5vh;
    }

    input {
        width: 16.5vh;
        height: 1vh;
        padding: 0.25vh;
        margin: 0.5vh auto 0.5vh auto;
        font-size: 0.7vh;
    }

    hr {
        width: 15.8vh;
        margin: 0.6vh auto 0.6vh auto;
        padding: 0 0.6vh 0 0.6vh;
    }

    button {
        width: 17.2vh;
        height: 1.6vh;
        margin: 0.3vh auto 1vh auto;
        font-size: 0.7vh;
    }

    #nav {
        height: 2vh;
    }

    #dynamic p {
        font-size: 1vh;
    }

    #data, th, td {
        margin: 1vh auto 0.75vh auto;
        padding: 0.25vh;
    }

    th, td {
        padding: 0.5vh;
        margin: 0.5vh;
        font-size: 0.75vh;
    }
}