html {  
	height: 100%; 
	width: 100%; 
}

body {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url("images/background.png");	
	display: table;
}

div {
    margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

h1 {
	margin: 30px auto 10px auto;
	font-size: 60px;
	color: whitesmoke;
	font-family: srcl;
}

h2 {
	text-transform: uppercase;
	margin: 10px auto 10px auto;
	padding: 20px 20px 20px 20px;
	width: 24%;
	font-size: 40px;
	color: whitesmoke;
	font-family: srcl;
	border-width: 1px 0px 1px 0px;
	border-color: whitesmoke;
	border-style: solid;
	border-color: whitesmoke;
}

input {
	width: 340px;
	margin: 10px auto 10px auto;
	margin-left: 6px; 
	font-size: 100%;
	height: 24px;
	color: whitesmoke;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	font-family: srcl;
}

button {
	margin: 0px;
    width: 500px;
	margin: 5px auto 5px auto;
	font-size: 120%;
	color: whitesmoke;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	font-family: srcl;
	display: block;
}

hr {
	margin: 0px;
	width: 347px;
	margin: 18px auto 18px auto;
}

#main {
    display: table-cell;
    vertical-align: middle; 
}

#dynamic {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	/*margin: 75px auto 10px auto;*/
}

#dynamic p {
	font-family: srcl;
	color: whitesmoke;
}

#dynamic a {
	font-family: srcl;
	color: whitesmoke;
}

#data, th, td {
	border-width: 1px;
	border-style: solid;
	font-family: srcl;
	color: whitesmoke;
	float: center;
	margin: 10px auto 10px auto;
	padding: 3px;
}

#data {
	border-radius: 5px;
}

th, td {
	padding: 6px;
	margin: 1px;
}

#logo {
	padding-top: 50px;
	max-height: 250px;
	max-width: 250px;
}

#scope {
	max-width: 470px;
	min-width: 270px;
}

#footer {
	margin-top: 60px;
	padding-bottom: 25px;
	color: whitesmoke;
	font-family: srcl;	
}

#connect {
	width: 350px;
	margin: 29px auto 10px auto;
	font-size: 120%;
	color: whitesmoke;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	font-family: srcl;
}

#nav {
	margin: 0px auto 40px auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(160, 160, 160, 0.2);
}

@font-face {
    font-family: srcl;
    src: url('fonts/sourcelight.otf');
}
